{% extends 'base.html'%}
{% block title %}Index{% endblock %}
{% block style %}
    {{ super() }}
    <style>
        tr:nth-child(even) {
            background-color: #D6EEEE;
        }
    </style>
{% endblock %}

{% block content %}
<h3>All users</h3>
<table>
    <tr>
        <th>id</th>
        <th>public_id</th>
        <th>Username</th>
        <th>Is active</th>
        <th>Role</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.public_id }}</td>
        <td>{{ user.username }}</td>
        <td>
            {% if request.user.role != user.role.ADMIN %}
                {{ user.is_active }}
            {% else %}
                {% if user.is_active %}
                    <form  action="{{ url_for('change_user_activity', user_id=user.id ) }}" method="post">
                        <input type="hidden" value="True" />
                        <input type="submit" value="Deactivate" />
                    </form>
                {% else %}
                    <form  action="{{ url_for('change_user_activity', user_id=user.id ) }}" method="post">
                        <input type="hidden" value="False" />
                        <input type="submit" value="Activate" />
                    </form>
                {% endif%}
            {% endif %}
        </td>
        <td>
            {% if request.user.role != user.role.ADMIN %}
            {{ user.role }}
            {% else %}
            <form  action="{{ url_for('update_user_role', user_id=user.id ) }}" method="post">
                <fieldset role="group">
                    <select name="role" id="role">
                        {% for role in user.role.list() %}
                        <option {% if role == user.role %} selected {% endif %} >{{ role }}</option>
                        {% endfor %}
                    </select>

                    <input type="submit" value="update" />
                </fieldset>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
