{% extends 'base.html'%}
{% block title %}Signup{% endblock %}

{% block content %}
<h2>Auth Service</h2>
<hr>

<form action="{{ url_for('signup') }}?{{ request.query_string.decode() }}" method="post">
    <label for="username">Username</label>
    <input class="form-control" id="username" name="username" />

    <label for="password">Password</label>
    <input class="form-control" id="password" name="password"/>

    <button>Signup</button>
</form>
<br>
<a href="{{ url_for('login') }}?{{ request.query_string.decode() }}">Login</a>
{% endblock %}
